<ion-header translucent>
    <ion-toolbar>
        <ion-title>Search Shop</ion-title>
        <ion-buttons slot="end">
            <ion-button (click)="dismissModal()">Close</ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>
<ion-content fullscreen>
    <ion-list class="ion-padding">
        <ion-item>
            <ion-label>Search By:</ion-label>
            <ion-select [value]="searchBy" okText="Okay" cancelText="Dismiss">
                <ion-select-option *ngFor="let option of searchByOptions" [value]="option.value">{{option.display}}</ion-select-option>
            </ion-select>
        </ion-item>
        <ion-item>
            <ion-label position="floating">Search Text</ion-label>
            <ion-input type="text" name="search" [(ngModel)]="search"></ion-input>
        </ion-item>
    </ion-list>
    <div class="ion-padding">
        <ion-button expand="block" class="ion-no-margin" (click)="dismissModal(search)">Search</ion-button>
    </div>
</ion-content>