@import "../../../theme/theme";

.login-wrapper {
	padding: 60px 55px;
	@include flex(column, center, space-between);
	@include font-primary();
	@include responsive {
		padding: 40px 32px;
	}

	.login-text {
		margin-bottom: 54px;
		color: $fcr-light-color;

		.fcr-text {
			font-size: 36px;
			text-transform: uppercase;
			line-height: 44px;
		}

		.powered-by {
			font-size: 12px;
			margin-top: 14px;
		}
	}

	.login-items {
		width: 100%;
	}
}