<div class="full-width">
    <div class="login-wrapper"></div>
    <div class="full-width overlay"></div>
    <div class="login-content">
        <app-logo class="app-logo"></app-logo>
        <div class="login-items">
            <div class="login-text">
                <div class="fcr-text">
                    Find
                    Chat
                    Reward
                </div>
                <div class="powered-by">
                    Powered By Veti
                </div>
            </div>
            <div class="login-input">
                <input type="text" placeholder="Username">
                <input type="password" placeholder="Password">
                <div class="forgot-password">
                    Forgot yor password?
                </div>
                <button mat-flat-button color="warn">Log In</button>
                <div class="no-account">
                    Don’t have an account?
                </div>
            </div>
        </div>
    </div>
</div>
