<div class="bg-wrapper">
    <div class="login-wrapper">
        <app-logo class="app-logo mb-4"></app-logo>
        <div class="login-items">
            <div class="login-text">
                <div class="fcr-text">
                    <p class="mb-0">Find</p>
                    <p class="mb-0">Chat</p>
                    <p class="mb-0">Reward</p>
                </div>
                <div class="powered-by">
                    Powered By Veti
                </div>
            </div>
            <div class="login-input">
                <input type="text" placeholder="User Name" />
                <input type="password" placeholder="Password" />
                <div class="forgot-password">
                    <a href="" class="text-small text-white d-block mt-2 mb-3 text-right">Forgot your password?</a>
                </div>
                <button class="btn btn-primary btn-block" routerLink="/home/feeds">Log In</button>
                <a href="/register" class="text-small text-white d-block mt-2">Don’t have an account?</a>
            </div>
        </div>
    </div>
</div>