<div class="bg-wrapper" *ngIf="shopData">
  <div class="registration-wrapper">
    <app-logo class="app-logo mb-4"></app-logo>
    <div class="registration-items">
      <h3 class="text-center text-white mb-3">Add Shop Detail</h3>
      <form #registration="ngForm" (submit)="submitForm(registration)">
        <div class="registration-input">
          <div>
            <input
                    type="text"
                    placeholder="Name"
                    name="name"
                    #name="ngModel"
                    [(ngModel)]="shopData.name"
                    [ngClass]="{ 'is-invalid': registration.submitted && name.invalid }"
                    required
            />
            <div *ngIf="registration.submitted && name.invalid" class="invalid-feedback">
              <div *ngIf="name.errors.required">Name is required</div>
            </div>
          </div>
          <div>
            <input
                    type="text"
                    placeholder="Email"
                    name="email"
                    #email="ngModel"
                    [(ngModel)]="shopData.email"
                    [pattern]="emailPattern"
                    [ngClass]="{ 'is-invalid': registration.submitted && email.invalid }"
                    required
            />
            <div *ngIf="registration.submitted && email.invalid" class="invalid-feedback">
              <div *ngIf="email.errors.required">Email is required</div>
              <div *ngIf="email.errors.pattern">In valid Email</div>
            </div>
          </div>
          <div>
            <input
                    type="text"
                    placeholder="Password"
                    name="password"
                    #password="ngModel"
                    [(ngModel)]="shopData.password"
                    [pattern]="passwordPattern"
                    [ngClass]="{ 'is-invalid': registration.submitted && password.invalid }"
                    required
            />
            <div *ngIf="password.invalid" class="invalid-feedback">
              <div *ngIf="registration.submitted && password.errors.required">Password is required</div>
              <div *ngIf="password.errors.pattern">Password must contain at least one letter, at least one number, and be longer than six charaters.</div>
            </div>
          </div>
          <div>
            <input
                    type="text"
                    placeholder="Confirm Password"
                    name="confirmPassword"
                    #confirmPassword="ngModel"
                    [(ngModel)]="shopData.confirmPassword"
                    [pattern]="passwordPattern"
                    [ngClass]="{ 'is-invalid': registration.submitted && confirmPassword.invalid }"
                    required
            />
            <div *ngIf="confirmPassword.invalid" class="invalid-feedback">
              <div *ngIf="registration.submitted && confirmPassword.errors.required">Confirm password is required</div>
              <div *ngIf="confirmPassword.errors.pattern">Password must contain at least one letter, at least one number, and be longer than six charaters.</div>
            </div>
            <div *ngIf="password.valid && confirmPassword.valid && shopData.password !== shopData.confirmPassword" class="text-white">
              Password does not matched.
            </div>
          </div>
          <div class="row">
            <div class="col-6 pr-2">
              <input
                      type="number"
                      placeholder="Age"
                      name="age"
                      #age="ngModel"
                      [(ngModel)]="shopData.age"
                      required
                      min="1"
                      max="99"
                      [ngClass]="{ 'is-invalid': registration.submitted && age.invalid }"
              />
              <div *ngIf="registration.submitted && age.invalid" class="invalid-feedback">
                <div *ngIf="age.errors.required">Age is required</div>
                <div *ngIf="age.errors.pattern">Invalid Age.</div>
              </div>
            </div>
            <div class="col-6 pl-2">
              <select
                      name="gender"
                      #gender="ngModel"
                      [(ngModel)]="shopData.gender"
                      required
                      [ngClass]="{ 'is-invalid': registration.submitted && gender.invalid }"
              >
                <option value="" disabled>Gender</option>
                <option value="male">Male</option>
                <option value="female">Female</option>
              </select>
              <div *ngIf="registration.submitted && gender.invalid" class="invalid-feedback">
                <div *ngIf="gender.errors.required">Gender is required</div>
              </div>
            </div>
          </div>
          <div>
            <input
                    type="text"
                    placeholder="Mobile No."
                    name="mobile"
                    #mobile="ngModel"
                    [(ngModel)]="shopData.mobile"
                    minlength="10"
                    maxlength="10"
                    required
                    [ngClass]="{ 'is-invalid': registration.submitted && mobile.invalid }"
            />
            <div *ngIf="mobile.invalid" class="invalid-feedback">
              <div *ngIf="mobile.errors.required">Mobile No is required</div>
              <div *ngIf="mobile.errors.minlength">Min length Invalid Mobile Number</div>
              <div *ngIf="mobile.errors.maxlength">Max length Invalid Mobile Number</div>
            </div>
          </div>
          <!--<div>
			  <input
					  type="text"
					  placeholder="E-Card Name"
					  name="cardName"
					  #cardName="ngModel"
					  [(ngModel)]="shopData.cardName"
					  required
					  [ngClass]="{ 'is-invalid': registration.submitted && cardName.invalid }"
			  />
			  <div *ngIf="registration.submitted && cardName.invalid" class="invalid-feedback">
				  <div *ngIf="cardName.errors.required">E-Card Name is required</div>
				  <div *ngIf="cardName.errors.minLength">Invalid E-Card Name</div>
			  </div>
		  </div>
		  <div>
			  <input
					  type="text"
					  placeholder="E-card Address"
					  name="cardAddress"
					  #cardAddress="ngModel"
					  [(ngModel)]="shopData.cardAddress"
					  required
					  [ngClass]="{ 'is-invalid': registration.submitted && cardAddress.invalid }"
			  />
			  <div *ngIf="registration.submitted && cardAddress.invalid" class="invalid-feedback">
				  <div *ngIf="cardAddress.errors.required">E-Card Address is required</div>
				  <div *ngIf="cardAddress.errors.minLength">Invalid E-Card Address</div>
			  </div>
		  </div>-->
          <button class="btn btn-primary btn-block mt-3" type="submit">Sign Up</button>
          <a routerLink="/login" class="text-small text-white d-block mt-2">Already have an account?</a>
        </div>
      </form>
    </div>
  </div>
</div>
