<ion-header>
    <ion-toolbar>
        <ion-title>User Details</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content fullscreen>
    <ion-card>
        <ion-card-header>
            <ion-avatar class="d-inline-block mr-3">
                <img src="assets/images/avatar.svg">
            </ion-avatar>
            <p class="d-inline-block">
                <ion-card-title>
                    User name / Company name
                </ion-card-title>
                <ion-card-subtitle>
                    Profession
                </ion-card-subtitle>
            </p>
        </ion-card-header>
        <ion-card-content class="text-right">
            <div>Address:
                <pre>fghdkjfghkdjfgh,dsfsdf,sdfsdf</pre>
            </div>
            <div>
                Mo no: +919875642130
            </div>
            <div>
                email: mail@example.com
            </div>
        </ion-card-content>
    </ion-card>
    <ion-list>
        <ion-list-header>
            Rewards
        </ion-list-header>

        <ion-item>
            <ion-label>
                <h2>Reward 1</h2>
                <p>item description</p>
            </ion-label>
        </ion-item>
        <ion-item>
            <ion-label>
                <h2>Reward 2</h2>
                <p>item description</p>
            </ion-label>
        </ion-item>
        <ion-item>
            <ion-label>
                <h2>Reward 3</h2>
                <p>item description</p>
            </ion-label>
        </ion-item>
        <ion-label>
            Load more (will redirect to new page)
        </ion-label>
    </ion-list>
    <ion-list>
        <ion-list-header>
            Address
        </ion-list-header>

        <ion-item>
            <ion-label>
                <p>Address line 1</p>
                <p>Address line 2</p>
                <p>Address line 3</p>
                <p>Address line 4</p>
            </ion-label>
        </ion-item>
    </ion-list>
    <ion-list>
        <ion-list-header>
            Menu
        </ion-list-header>

        <ion-item>
            image for menu
        </ion-item>
    </ion-list>
    <ion-list>
        <ion-list-header>
            Contact detail
        </ion-list-header>

        <ion-item>
            <ion-label>
                call icon + number
            </ion-label>
            <ion-label>
                chat icon
            </ion-label>
        </ion-item>
    </ion-list>
</ion-content>
