<ion-header>
    <ion-toolbar>
	    <ion-buttons slot="primary">
		    <ion-button>
			    <ion-icon name="share-social"></ion-icon>
		    </ion-button>
	    </ion-buttons>
        <ion-title>
		    User Details
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content fullscreen>
    <app-e-card [serviceDetails]="serviceDetails"></app-e-card>
    <ion-segment (ionChange)="segmentChanged($event)" [value]="selectedSegment">
        <ion-segment-button [value]="'about'">
            <ion-label>About Us</ion-label>
        </ion-segment-button>
        <ion-segment-button value="contact">
            <ion-label>Contact</ion-label>
        </ion-segment-button>
        <ion-segment-button value="menu">
            <ion-label>Menu</ion-label>
        </ion-segment-button>
    </ion-segment>
    <ion-list *ngIf="selectedSegment === 'about'">
		<ion-item>
			<ion-label>
				{{serviceDetails?.description}}
			</ion-label>
		</ion-item>
	</ion-list>
	<ion-list *ngIf="selectedSegment === 'menu'">
		<ion-list-header>
			Menu
		</ion-list-header>

		<ion-item>
			image for menu
		</ion-item>
	</ion-list>
	<ion-list *ngIf="selectedSegment === 'contact'">
		<ion-list-header>
			Contact detail
		</ion-list-header>

        <ion-item>
            <ion-label>
                <div>
                    Mo no: {{serviceDetails?.user?.mobile}}
                </div>
                <div>
                    email: {{serviceDetails?.user?.email}}
                </div>
            </ion-label>
        </ion-item>
        <ion-item>
            <ion-label (click)="openChatRoom()">
                <ion-icon name="chatbox-ellipses"></ion-icon>
            </ion-label>
        </ion-item>
    </ion-list>
</ion-content>
