<ion-header>
    <ion-toolbar>
	    <ion-buttons slot="primary">
		    <ion-button>
			    <ion-icon name="share-social"></ion-icon>
		    </ion-button>
	    </ion-buttons>
        <ion-title>
		        User Details
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content fullscreen>
    <ion-card>
        <ion-card-header>
            <ion-avatar class="d-inline-block mr-3">
                <img src="{{shop?.user?.profile ? env.baseUrl + '/' +shop?.user?.profile : defaultAvatar}}">
            </ion-avatar>
            <p class="d-inline-block">
                <ion-card-title>
                    {{shop?.user?.profession === 1 ? shop?.name : shop?.user?.name}}
                </ion-card-title>
                <ion-card-subtitle class="text-capitalize">
                    {{professions[shop?.user?.profession]}}
                </ion-card-subtitle>
            </p>
        </ion-card-header>
        <ion-card-content class="text-right">
            <div>Address:
                <p>
	                {{shop?.address.addressLine1}}
                </p>
	            <p>
		            {{shop?.address.addressLine2}}
	            </p>
	            <p>
		            {{shop?.address.city}}
	            </p>
	            <p>
		            {{shop?.address.state}}
	            </p>
	            <p>
		            {{shop?.address.pinCode}}
	            </p>
            </div>
            </ion-card-content>
    </ion-card>
    <ion-segment (ionChange)="segmentChanged($event)" [value]="selectedSegment">
        <ion-segment-button [value]="'about'">
            <ion-label>About Us</ion-label>
        </ion-segment-button>
        <ion-segment-button value="contact">
            <ion-label>Contact</ion-label>
        </ion-segment-button>
        <ion-segment-button value="menu">
            <ion-label>Menu</ion-label>
        </ion-segment-button>
    </ion-segment>
    <ion-list *ngIf="selectedSegment === 'about'">
        <ion-list-header>
            About Us
        </ion-list-header>

		<ion-item>
			<ion-label>
				About us
			</ion-label>
		</ion-item>
	</ion-list>
	<ion-list *ngIf="selectedSegment === 'menu'">
		<ion-list-header>
			Menu
		</ion-list-header>

		<ion-item>
			image for menu
		</ion-item>
	</ion-list>
	<ion-list *ngIf="selectedSegment === 'contact'">
		<ion-list-header>
			Contact detail
		</ion-list-header>

        <ion-item>
            <ion-label>
                <div>
                    Mo no: {{shop?.user?.mobile}}
                </div>
                <div>
                    email: {{shop?.user?.email}}
                </div>
            </ion-label>
        </ion-item>
        <ion-item>
            <ion-label (click)="openChatRoom()">
                <ion-icon name="chatbox-ellipses"></ion-icon>
            </ion-label>
        </ion-item>
    </ion-list>
</ion-content>
