<div class="bg-wrapper" *ngIf="userData">
	<div class="registration-wrapper">
		<app-logo class="app-logo mb-4"></app-logo>
		<div class="registration-items">
			<h3 class="text-center text-white mb-3">Create Account</h3>
			<form #registration="ngForm" (submit)="submitForm(registration)">
				<div class="registration-input">
					<div>
						<input type="text" placeholder="Name" name="name" #name="ngModel" [(ngModel)]="userData.name"
							[ngClass]="{ 'is-invalid': (registration.submitted || email.touched) && name.invalid }"
							required />
						<div *ngIf="(registration.submitted || name.touched) && name.invalid" class="invalid-feedback">
							<div *ngIf="name.errors.required">Name is required</div>
						</div>
					</div>
					<div>
						<input type="text" placeholder="Email" name="email" #email="ngModel"
							[(ngModel)]="userData.email" [pattern]="emailPattern"
							[ngClass]="{ 'is-invalid': (registration.submitted || email.touched) && email.invalid }"
							required />
						<div *ngIf="(registration.submitted || email.touched) && email.invalid"
							class="invalid-feedback">
							<div *ngIf="email.errors.required">Email is required</div>
							<div *ngIf="email.errors.pattern">In valid Email</div>
						</div>
					</div>
					<div>
						<input type="password" placeholder="Password" name="password" #password="ngModel"
							[(ngModel)]="userData.password" [pattern]="passwordPattern"
							[ngClass]="{ 'is-invalid': (registration.submitted || email.touched) && password.invalid }"
							required />
						<div *ngIf="password.touched && password.invalid" class="invalid-feedback">
							<div *ngIf="password.errors.required">Password is required</div>
							<div *ngIf="password.errors.pattern">
								Password must contain at least one letter, at least one
								number, and be longer than six characters.
							</div>
						</div>
					</div>
					<div>
						<input type="password" placeholder="Confirm Password" name="confirmPassword"
							#confirmPassword="ngModel" [(ngModel)]="userData.confirmPassword"
							[pattern]="passwordPattern"
							[ngClass]="{ 'is-invalid': (registration.submitted || email.touched) && confirmPassword.invalid }"
							required />
						<div *ngIf="(registration.submitted || confirmPassword.touched) && confirmPassword.invalid"
							class="invalid-feedback">
							<div *ngIf="confirmPassword.errors.required">
								Confirm password is required.
							</div>
							<div *ngIf="confirmPassword.errors.pattern">
								Password must contain at least one letter, at
								least one number, and be longer than six
								characters.
							</div>
						</div>
						<div *ngIf="password.valid && confirmPassword.valid && userData.password !== userData.confirmPassword"
							class="text-white">
							Password does not matched.
						</div>
					</div>
					<div class="row">
						<div class="col-6 pr-2">
							<input type="number" placeholder="Age" name="age" #age="ngModel" [(ngModel)]="userData.age"
								required min="1" max="99"
								[ngClass]="{ 'is-invalid': (registration.submitted || age.touched) && age.invalid }" />
							<div *ngIf="(registration.submitted || age.touched) && age.invalid"
								class="invalid-feedback">
								<div *ngIf="age.errors.required">Age is required</div>
								<div *ngIf="age.errors.pattern">Invalid Age.</div>
							</div>
						</div>
						<div class="col-6 pl-2">
							<select name="gender" #gender="ngModel" [(ngModel)]="userData.gender" required
								[ngClass]="{ 'is-invalid': (registration.submitted || gender.touched) && gender.invalid }">
								<option value="" disabled>Gender</option>
								<option value="male">Male</option>
								<option value="female">Female</option>
							</select>
							<div *ngIf="(registration.submitted || gender.touched) && gender.invalid"
								class="invalid-feedback">
								<div *ngIf="gender.errors.required">Gender is required</div>
							</div>
						</div>
					</div>
					<div>
						<input type="text" placeholder="Mobile No." name="mobile" #mobile="ngModel"
							[(ngModel)]="userData.mobile" required [pattern]="mobNumberPattern"
							[ngClass]="{ 'is-invalid': (registration.submitted || mobile.touched) && mobile.invalid }" />
						<div *ngIf="(registration.submitted || mobile.touched) && mobile.invalid"
							class="invalid-feedback">
							<div *ngIf="mobile.errors.required">Mobile No is required</div>
							<div *ngIf="mobile.errors.pattern">Invalid mobile number</div>
						</div>
					</div>
					<div class="d-flex align-items-center justify-content-between mt-3">
						<p class="text-white mb-0 mr-3">Profession:</p>
						<div class="radio-btn-container">
							<div class="radio-btn">
								<input type="radio" id="employee" name="profession" #profession="ngModel"
									[value]="professions['user']" [(ngModel)]="userData.profession" checked />
								<label for="employee">User</label>
							</div>
							<div class="radio-btn">
								<input type="radio" id="self-employee" name="profession" #profession="ngModel"
									[value]="professions['service-provider']" [(ngModel)]="userData.profession" />
								<label for="self-employee">Service Provider</label>
							</div>
						</div>
					</div>
					<button class="btn btn-primary btn-block mt-3" type="submit">Sign Up</button>
					<a routerLink="/login" class="text-small text-white d-block mt-2">Already have an account?</a>
				</div>
			</form>
		</div>
	</div>
</div>