.full-width {
  height: 100%;
  width: 100%;
  display: flex;

  &.overlay {
    background: rgba(51, 51, 51, 0.8);
    z-index: 1;
    position: absolute;
  }

  .registration-wrapper {
    background-image: url('/assets/images/background.jpg');
    background-repeat: no-repeat;
    position: absolute;
    width: 100vw;
    height: 100vh;
    background-size: cover;
    -webkit-filter: blur(2px);
    -moz-filter: blur(2px);
    -o-filter: blur(2px);
    -ms-filter: blur(2px);
    filter: blur(2px);
  }
  .registration-content {
    z-index: 1;
    display: flex;
    width: 100%;
    flex-direction: column;
    .app-logo {
      display: flex;
      height: 20%;
      align-items: center;
    }
    .registration-items {
      padding: 0 55px;
      font-weight: 100;
      color: #F2F2F2;
      .registration-text {
        .create-account {
          color: #F2F2F2;
          display: flex;
        }
      }
      .registration-input {
        margin-top: 16px;
        .profession-radio-wrapper {
          display: flex;
          .profession-radio {
            display: flex;
            justify-content: space-between;
            .mat-radio-checked {

            }
          }
        }
      }
      .no-account {
        font-size: 10px;
        line-height: 12px;
        margin: 8px 0;
      }
      button {
        width: 100%;
        background-color: #EB5757;
      }
      input, select, textarea {
        width: 300px;
        height: 40px;
        padding: 19px;
        margin: 8px 0;
        color: #000;
      }
    }
  }
}

.input-wrapper {
  display: flex;
}