<ion-header>
	<ion-toolbar>
		<ion-buttons slot="start">
			<ion-back-button></ion-back-button>
		</ion-buttons>
		<ion-title>
			<span>
				{{toUser?.name}}
			</span>
		</ion-title>
	</ion-toolbar>
</ion-header>

<ion-content>
	<ion-grid class="page-chat-room">
		<ion-row *ngFor="let message of messages">

			<ion-col col-9 *ngIf="message.from !== fromUser?._id" class="message other_message d-flex">
				<ion-avatar>
					<img src="/assets/images/avatar.svg">
				</ion-avatar>
				<div class="message-data">
					<span>{{ message.message }}</span>
					<div class="time">{{message.created | date:'dd.MM hh:MM'}}</div>
				</div>
			</ion-col>

			<ion-col offset-3 col-9 *ngIf="message.from === fromUser?._id" class="message my_message d-flex flex-row-reverse">
				<ion-avatar>
					<img src="/assets/images/avatar.svg">
				</ion-avatar>
				<div class="message-data">
					<span>{{ message.message }}</span>
					<div class="time">{{message.created | date:'dd.MM hh:MM'}}</div>
				</div>
			</ion-col>

		</ion-row>
	</ion-grid>

</ion-content>

<ion-footer class="d-flex chat-footer">
	<ion-item no-lines>
		<ion-input type="text" placeholder="Message" [(ngModel)]="message"></ion-input>
	</ion-item>
	<ion-fab edge horizontal="end">
		<ion-fab-button mini ion-fab color="primary" (click)="sendMessage()" [disabled]="!message">
			<ion-icon name="send"></ion-icon>
		</ion-fab-button>
	</ion-fab>
</ion-footer>