<ion-header>
	<ion-toolbar>
		<ion-title>
			Chat
		</ion-title>
	</ion-toolbar>
</ion-header>

<ion-content>
	<ion-grid class="page-chat-room">
		<ion-row *ngFor="let message of messages">

			<ion-col col-9 *ngIf="message.senderId !== nickname" class="message"
			         [ngClass]="{'my_message': message.senderId === nickname, 'other_message': message.senderId !== nickname}">
				<span class="user_name">{{ shopKeeperDetail.name }}:</span><br>
				<span>{{ message.message }}</span>
				<div class="time">{{message.created | date:'dd.MM hh:MM'}}</div>
			</ion-col>

			<ion-col offset-3 col-9 *ngIf="message.senderId === nickname" class="message"
			         [ngClass]="{'my_message': message.senderId === nickname, 'other_message': message.senderId !== nickname}">
				<span class="user_name">{{ user.name }}:</span><br>
				<span>{{ message.message }}</span>
				<div class="time">{{message.created | date:'dd.MM hh:MM'}}</div>
			</ion-col>

		</ion-row>
	</ion-grid>

</ion-content>

<ion-footer>
	<ion-toolbar>
		<ion-row class="message_row">
			<ion-col col-9>
				<ion-item no-lines>
					<ion-input type="text" placeholder="Message" [(ngModel)]="message"></ion-input>
				</ion-item>
			</ion-col>
			<ion-col col-3>
				<button ion-button clear color="primary" (click)="sendMessage()" [disabled]="message === ''">
					Send
				</button>
			</ion-col>
		</ion-row>
	</ion-toolbar>
</ion-footer>
