<ion-header>
	<ion-toolbar>
		<ion-buttons slot="start">
			<ion-back-button></ion-back-button>
		</ion-buttons>
		<ion-title>
			{{shopKeeperDetail?.name}}
		</ion-title>
	</ion-toolbar>
</ion-header>

<ion-content>
	<ion-grid class="page-chat-room">
		<ion-row *ngFor="let message of messages">

			<ion-col col-9 *ngIf="message.from !== user?._id" class="message"
				[ngClass]="{'my_message': message.from === user?._id, 'other_message': message.from !== user?._id}">
				<span class="user_name">{{ shopKeeperDetail.name }}:</span><br>
				<span>{{ message.message }}</span>
				<div class="time">{{message.created | date:'dd.MM hh:MM'}}</div>
			</ion-col>

			<ion-col offset-3 col-9 *ngIf="message.from === user?._id" class="message d-flex"
				[ngClass]="{'my_message': message.from === user?._id, 'other_message': message.from !== user?._id}">
				<!-- <span class="user_name">{{ user.name }}:</span><br> -->
				<ion-avatar>
					<img src="../../../assets/images/avatar.svg">
				</ion-avatar>
				<div class="message-data">
					<span>{{ message.message }}</span>
					<div class="time">{{message.created | date:'dd.MM hh:MM'}}</div>
				</div>
			</ion-col>

		</ion-row>
	</ion-grid>

</ion-content>

<ion-footer class="d-flex chat-footer">
	<ion-item no-lines>
		<ion-input type="text" placeholder="Message" [(ngModel)]="message"></ion-input>
	</ion-item>
	<button ion-fab mini clear color="primary" (click)="sendMessage()" [disabled]="message === ''">
		<ion-icon name="send"></ion-icon>
	</button>
</ion-footer>