@import "../../../theme/theme";

.app-name {
	@include font-primary(bold);
	color: $fcr-light-color;
	font-size: 48px;
	line-height: 59px;
	text-align: center;
	.middle-name {
		display: inline-block;
		padding-bottom: .5px;
		position: relative;
		color: #EB5757;
		&:after {
			content: '';
			width: 30px;
			height: 2px;
			background: white;
			position: absolute;
			bottom: 0;
			left: calc(50% - 13px);
		}
	}
}